body {
  background-color: #636e72;
}

#root {
  position: relative;
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  max-width: 350px;
  justify-items: right;
  background-color: #81ecec;
  border-radius: 50px;
 }

.card > * {
  text-align: center;
 }

button {
  margin-right: 10px;
  margin-left: 10px;
  border: 0px;
  border-radius: 10px;
 }

.linkedin {
  background-color: #0984e3;
  color: white;
  width: 100px;
  height: 25px;
 }

 .linkedin:hover {
  cursor:pointer;
 }

.instagram, .github {
  text-align: center;
  width: 27px;
  height: 25px;
  color: #0984e3;
 }

 .buttons {
  text-align: center;
 }

img {
  width: 175px;
  height: 200px;
}

.socials {
  margin-bottom: 50px;
  
}

